<div class="galleryOuter">
	<div class="galleryWrapper">
		<div id="[[id]]" class="gallery">
			<div class="galleryInner">
				<div>
					[[pictures]]
				</div>
			</div>
			<div id="[[id]]ScrollBar" class="horizontalScrollTrack"><div class="scrollBar"></div></div>
		</div>
	</div>
	<div id="[[id]]Enlarged" class="galleryEnlarged"><div id="[[id]]Close" class="close" onclick="Gallery.close(this);"></div><a target="_blank"><img /></a></div>
	<script type="text/javascript">
		Gallery.init("[[id]]");
	</script>
</div>